In [63]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [0]:
library(dplyr)

In [65]:
install.packages("gapminder")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [0]:
library(gapminder)

In [67]:
head(gapminder,50)

   country     continent year lifeExp pop      gdpPercap
1  Afghanistan Asia      1952 28.801   8425333  779.4453
2  Afghanistan Asia      1957 30.332   9240934  820.8530
3  Afghanistan Asia      1962 31.997  10267083  853.1007
4  Afghanistan Asia      1967 34.020  11537966  836.1971
5  Afghanistan Asia      1972 36.088  13079460  739.9811
6  Afghanistan Asia      1977 38.438  14880372  786.1134
7  Afghanistan Asia      1982 39.854  12881816  978.0114
8  Afghanistan Asia      1987 40.822  13867957  852.3959
9  Afghanistan Asia      1992 41.674  16317921  649.3414
10 Afghanistan Asia      1997 41.763  22227415  635.3414
11 Afghanistan Asia      2002 42.129  25268405  726.7341
12 Afghanistan Asia      2007 43.828  31889923  974.5803
13 Albania     Europe    1952 55.230   1282697 1601.0561
14 Albania     Europe    1957 59.280   1476505 1942.2842
15 Albania     Europe    1962 64.820   1728137 2312.8890
16 Albania     Europe    1967 66.220   1984060 2760.1969
17 Albania     Europe    1972 67.690   2263554 3313.4222
18 Albania     Europe    1977 68.930   2509048 3533.0039
19 Albania     Europe    1982 70.420   2780097 3630.8807
20 Albania     Europe    1987 72.000   3075321 3738.9327
21 Albania     Europe    1992 71.581   3326498 2497.4379
22 Albania     Europe    1997 72.950   3428038 3193.0546
23 Albania     Europe    2002 75.651   3508512 4604.2117
24 Albania     Europe    2007 76.423   3600523 5937.0295
25 Algeria     Africa    1952 43.077   9279525 2449.0082
26 Algeria     Africa    1957 45.685  10270856 3013.9760
27 Algeria     Africa    1962 48.303  11000948 2550.8169
28 Algeria     Africa    1967 51.407  12760499 3246.9918
29 Algeria     Africa    1972 54.518  14760787 4182.6638
30 Algeria     Africa    1977 58.014  17152804 4910.4168
31 Algeria     Africa    1982 61.368  20033753 5745.1602
32 Algeria     Africa    1987 65.799  23254956 5681.3585
33 Algeria     Africa    1992 67.744  26298373 5023.2166
34 Algeria     Africa    1997 69.152  29072015 4797.2951
35 Algeria     Africa    2002 70.994  31287142 5288.0404
36 Algeria     Africa    2007 72.301  33333216 6223.3675
37 Angola      Africa    1952 30.015   4232095 3520.6103
38 Angola      Africa    1957 31.999   4561361 3827.9405
39 Angola      Africa    1962 34.000   4826015 4269.2767
40 Angola      Africa    1967 35.985   5247469 5522.7764
41 Angola      Africa    1972 37.928   5894858 5473.2880
42 Angola      Africa    1977 39.483   6162675 3008.6474
43 Angola      Africa    1982 39.942   7016384 2756.9537
44 Angola      Africa    1987 39.906   7874230 2430.2083
45 Angola      Africa    1992 40.647   8735988 2627.8457
46 Angola      Africa    1997 40.963   9875024 2277.1409
47 Angola      Africa    2002 41.003  10866106 2773.2873
48 Angola      Africa    2007 42.731  12420476 4797.2313
49 Argentina   Americas  1952 62.485  17876956 5911.3151
50 Argentina   Americas  1957 64.399  19610538 6856.8562

In [68]:
names(gapminder)

[1] "country"   "continent" "year"      "lifeExp"   "pop"       "gdpPercap"

In [0]:
dump<- select(gapminder,country:year)

In [70]:
head(dump)

  country     continent year
1 Afghanistan Asia      1952
2 Afghanistan Asia      1957
3 Afghanistan Asia      1962
4 Afghanistan Asia      1967
5 Afghanistan Asia      1972
6 Afghanistan Asia      1977

In [0]:
dump<- select(gapminder,-(country:year))

In [74]:
head(dump)

  lifeExp pop      gdpPercap
1 28.801   8425333 779.4453
2 30.332   9240934 820.8530
3 31.997  10267083 853.1007
4 34.020  11537966 836.1971
5 36.088  13079460 739.9811
6 38.438  14880372 786.1134

In [0]:
i<- match("pop",names(gapminder)) # assignning 'pop' column index value to i

In [0]:
j<- match("country",names(gapminder))# assignning 'counntry' column index value to i

In [77]:
head(gapminder[,-(i:j)])

  gdpPercap
1 779.4453
2 820.8530
3 853.1007
4 836.1971
5 739.9811
6 786.1134

In [0]:
dump<- select(gapminder,ends_with("p"))# ends_with :- disply the column names that ends with 'p' catacter

In [79]:
str(dump)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	1704 obs. of  3 variables:
 $ lifeExp  : num  28.8 30.3 32 34 36.1 ...
 $ pop      : int  8425333 9240934 10267083 11537966 13079460 14880372 12881816 13867957 16317921 22227415 ...
 $ gdpPercap: num  779 821 853 836 740 ...

In [0]:
dump<- select(gapminder,starts_with("c"))

In [81]:
str(dump)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	1704 obs. of  2 variables:
 $ country  : Factor w/ 142 levels "Afghanistan",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ continent: Factor w/ 5 levels "Africa","Americas",..: 3 3 3 3 3 3 3 3 3 3 ...

***Filter()***: The filter() function is used to extract subsets of rows from a data frame.

In [0]:
data<- filter(gapminder,gdpPercap>750)

In [84]:
head(data)

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1977 38.438  14880372 786.1134
6 Afghanistan Asia      1982 39.854  12881816 978.0114

In [85]:
summary(data$country)

               Albania                Algeria                 Angola
                    12                     12                     12
             Argentina              Australia                Austria
                    12                     12                     12
               Bahrain                Belgium                  Benin
                    12                     12                     12
               Bolivia Bosnia and Herzegovina               Botswana
                    12                     12                     12
                Brazil               Bulgaria               Cameroon
                    12                     12                     12
                Canada                   Chad                  Chile
                    12                     12                     12
              Colombia                Comoros            Congo, Rep.
                    12                     12                     12
            Costa Rica          Cote d'Ivoire                Croatia
                    12                     12                     12
                  Cuba         Czech Republic                Denmark
                    12                     12                     12
              Djibouti     Dominican Republic                Ecuador
                    12                     12                     12
                 Egypt            El Salvador                Finland
                    12                     12                     12
                France                  Gabon                Germany
                    12                     12                     12
                 Ghana                 Greece              Guatemala
                    12                     12                     12
                 Haiti               Honduras       Hong Kong, China
                    12                     12                     12
               Hungary                Iceland                   Iran
                    12                     12                     12
                  Iraq                Ireland                 Israel
                    12                     12                     12
                 Italy                Jamaica                  Japan
                    12                     12                     12
                Jordan                  Kenya       Korea, Dem. Rep.
                    12                     12                     12
           Korea, Rep.                 Kuwait                Lebanon
                    12                     12                     12
                 Libya             Madagascar               Malaysia
                    12                     12                     12
             Mauritius                 Mexico               Mongolia
                    12                     12                     12
            Montenegro                Morocco                Namibia
                    12                     12                     12
           Netherlands            New Zealand              Nicaragua
                    12                     12                     12
               Nigeria                 Norway                   Oman
                    12                     12                     12
                Panama               Paraguay                   Peru
                    12                     12                     12
           Philippines                 Poland               Portugal
                    12                     12                     12
           Puerto Rico                Reunion                Romania
                    12                     12                     12
 Sao Tome and Principe           Saudi Arabia                Senegal
                    12                     12                     12
                Serbia              Singapore        Slovak Republic
                    12                     12                     12
              Slovenia                Somalia           South Africa
                    12                     12                     12
                 Spain              Sri Lanka                  Sudan
                    12                     12                     12
             Swaziland                 Sweden            Switzerland
                    12                     12                     12
                 Syria                 Taiwan               Thailand
                    12                     12                     12
               (Other)
                   304

In [86]:
summary(data$lifeExp)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  28.80   51.75   64.22   61.63   71.52   82.60

In [87]:
summary(data$continent)

  Africa Americas     Asia   Europe  Oceania
     471      300      337      360       24

In [0]:
dump<- filter(gapminder,lifeExp>60 & continent=='Asia')

In [89]:
dump

    country            continent year lifeExp  pop        gdpPercap
1   Bahrain            Asia      1972 63.30000     230800 18268.6584
2   Bahrain            Asia      1977 65.59300     297410 19340.1020
3   Bahrain            Asia      1982 69.05200     377967 19211.1473
4   Bahrain            Asia      1987 70.75000     454612 18524.0241
5   Bahrain            Asia      1992 72.60100     529491 19035.5792
6   Bahrain            Asia      1997 73.92500     598561 20292.0168
7   Bahrain            Asia      2002 74.79500     656397 23403.5593
8   Bahrain            Asia      2007 75.63500     708573 29796.0483
9   Bangladesh         Asia      2002 62.01300  135656790  1136.3904
10  Bangladesh         Asia      2007 64.06200  150448339  1391.2538
11  China              Asia      1972 63.11888  862030000   676.9001
12  China              Asia      1977 63.96736  943455000   741.2375
13  China              Asia      1982 65.52500 1000281000   962.4214
14  China              Asia      1987 67.27400 1084035000  1378.9040
15  China              Asia      1992 68.69000 1164970000  1655.7842
16  China              Asia      1997 70.42600 1230075000  2289.2341
17  China              Asia      2002 72.02800 1280400000  3119.2809
18  China              Asia      2007 72.96100 1318683096  4959.1149
19  Hong Kong, China   Asia      1952 60.96000    2125900  3054.4212
20  Hong Kong, China   Asia      1957 64.75000    2736300  3629.0765
21  Hong Kong, China   Asia      1962 67.65000    3305200  4692.6483
22  Hong Kong, China   Asia      1967 70.00000    3722800  6197.9628
23  Hong Kong, China   Asia      1972 72.00000    4115700  8315.9281
24  Hong Kong, China   Asia      1977 73.60000    4583700 11186.1413
25  Hong Kong, China   Asia      1982 75.45000    5264500 14560.5305
26  Hong Kong, China   Asia      1987 76.20000    5584510 20038.4727
27  Hong Kong, China   Asia      1992 77.60100    5829696 24757.6030
28  Hong Kong, China   Asia      1997 80.00000    6495918 28377.6322
29  Hong Kong, China   Asia      2002 81.49500    6762476 30209.0152
30  Hong Kong, China   Asia      2007 82.20800    6980412 39724.9787
⋮   ⋮                  ⋮         ⋮    ⋮        ⋮          ⋮
188 Taiwan             Asia      1972 69.390   15226039    4062.5239
189 Taiwan             Asia      1977 70.590   16785196    5596.5198
190 Taiwan             Asia      1982 72.160   18501390    7426.3548
191 Taiwan             Asia      1987 73.400   19757799   11054.5618
192 Taiwan             Asia      1992 74.260   20686918   15215.6579
193 Taiwan             Asia      1997 75.250   21628605   20206.8210
194 Taiwan             Asia      2002 76.990   22454239   23235.4233
195 Taiwan             Asia      2007 78.400   23174294   28718.2768
196 Thailand           Asia      1972 60.405   39276153    1524.3589
197 Thailand           Asia      1977 62.494   44148285    1961.2246
198 Thailand           Asia      1982 64.597   48827160    2393.2198
199 Thailand           Asia      1987 66.084   52910342    2982.6538
200 Thailand           Asia      1992 67.298   56667095    4616.8965
201 Thailand           Asia      1997 67.521   60216677    5852.6255
202 Thailand           Asia      2002 68.564   62806748    5913.1875
203 Thailand           Asia      2007 70.616   65068149    7458.3963
204 Vietnam            Asia      1987 62.820   62826491     820.7994
205 Vietnam            Asia      1992 67.662   69940728     989.0231
206 Vietnam            Asia      1997 70.672   76048996    1385.8968
207 Vietnam            Asia      2002 73.017   80908147    1764.4567
208 Vietnam            Asia      2007 74.249   85262356    2441.5764
209 West Bank and Gaza Asia      1977 60.765    1261091    3682.8315
210 West Bank and Gaza Asia      1982 64.406    1425876    4336.0321
211 West Bank and Gaza Asia      1987 67.046    1691210    5107.1974
212 West Bank and Gaza Asia      1992 69.718    2104779    6017.6548
213 West Bank and Gaza Asia      1997 71.096    2826046    7110.6676
214 West Bank and Gaza Asia      2002 72.370    3389578    4515.4876
215 West Bank and Gaza Asia      2007 73.422    4018332    3025.3498
216 Yemen, Rep.        Asia      2002 60.308   18701257    2234.8208
217 Yemen, Rep.        Asia      2007 62.698   22211743    2280.7699

**arrange()**: The arrange() function is used to reorder rows of a data frame according to one of the variables/columns

In [0]:
dump<- arrange(gapminder,lifeExp)

In [92]:
head(dump)

  country      continent year lifeExp pop     gdpPercap
1 Rwanda       Africa    1992 23.599  7290203  737.0686
2 Afghanistan  Asia      1952 28.801  8425333  779.4453
3 Gambia       Africa    1952 30.000   284320  485.2307
4 Angola       Africa    1952 30.015  4232095 3520.6103
5 Sierra Leone Africa    1952 30.331  2143249  879.7877
6 Afghanistan  Asia      1957 30.332  9240934  820.8530

In [93]:
head(select(gapminder,country,continent),3)

  country     continent
1 Afghanistan Asia
2 Afghanistan Asia
3 Afghanistan Asia

In [94]:
head(arrange(gapminder,lifeExp))

  country      continent year lifeExp pop     gdpPercap
1 Rwanda       Africa    1992 23.599  7290203  737.0686
2 Afghanistan  Asia      1952 28.801  8425333  779.4453
3 Gambia       Africa    1952 30.000   284320  485.2307
4 Angola       Africa    1952 30.015  4232095 3520.6103
5 Sierra Leone Africa    1952 30.331  2143249  879.7877
6 Afghanistan  Asia      1957 30.332  9240934  820.8530

In [95]:
tail(arrange(gapminder,lifeExp))

  country          continent year lifeExp pop       gdpPercap
1 Hong Kong, China Asia      2002 81.495    6762476 30209.02
2 Switzerland      Europe    2007 81.701    7554661 37506.42
3 Iceland          Europe    2007 81.757     301931 36180.79
4 Japan            Asia      2002 82.000  127065841 28604.59
5 Hong Kong, China Asia      2007 82.208    6980412 39724.98
6 Japan            Asia      2007 82.603  127467972 31656.07

In [96]:
head(arrange(gapminder,desc(lifeExp)))

  country          continent year lifeExp pop       gdpPercap
1 Japan            Asia      2007 82.603  127467972 31656.07
2 Hong Kong, China Asia      2007 82.208    6980412 39724.98
3 Japan            Asia      2002 82.000  127065841 28604.59
4 Iceland          Europe    2007 81.757     301931 36180.79
5 Switzerland      Europe    2007 81.701    7554661 37506.42
6 Hong Kong, China Asia      2002 81.495    6762476 30209.02

***rename()***: Renaming a variable in a dataframe in R.

In [0]:
dump<- rename(gapminder,Country=country)

In [99]:
head(dump)

  Country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134

***mutate()***: The mutate() function exists to compute transformations of variables in a data frame. Often, you want to create new variables that are derived from existing variables and mutate() provides a clean interface for doing that.

In [0]:
data<- mutate(gapminder,year_exp=lifeExp*12)

In [103]:
head(data)

  country     continent year lifeExp pop      gdpPercap year_exp
1 Afghanistan Asia      1952 28.801   8425333 779.4453  345.612
2 Afghanistan Asia      1957 30.332   9240934 820.8530  363.984
3 Afghanistan Asia      1962 31.997  10267083 853.1007  383.964
4 Afghanistan Asia      1967 34.020  11537966 836.1971  408.240
5 Afghanistan Asia      1972 36.088  13079460 739.9811  433.056
6 Afghanistan Asia      1977 38.438  14880372 786.1134  461.256

 ***transmute()*** : It  does the same thing as mutate() but then drops all non-transformed variables.

In [104]:
head(transmute(gapminder, year_exp=lifeExp * 12))

  year_exp
1 345.612
2 363.984
3 383.964
4 408.240
5 433.056
6 461.256

In [105]:
head(gapminder)

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134

 ***group_by()***: Group by one or more variables.

In [112]:
head(mutate(gapminder,totalcont_lifeExp= 12* lifeExp) %>% group_by(continent))

  country     continent year lifeExp pop      gdpPercap totalcont_lifeExp
1 Afghanistan Asia      1952 28.801   8425333 779.4453  345.612
2 Afghanistan Asia      1957 30.332   9240934 820.8530  363.984
3 Afghanistan Asia      1962 31.997  10267083 853.1007  383.964
4 Afghanistan Asia      1967 34.020  11537966 836.1971  408.240
5 Afghanistan Asia      1972 36.088  13079460 739.9811  433.056
6 Afghanistan Asia      1977 38.438  14880372 786.1134  461.256

***%>%***: The pipe line operater %>% is very handy for stringing together multiple dplyr functions in a sequence of operations.  The %>% operator allows you to string operations in a left-to-right fashion, i.e.
> first(x) %>% second %>% third

In [113]:
head(mutate(gapminder,totalcont_lifeExp= 12* lifeExp) %>% group_by(continent) %>% arrange(desc(totalcont_lifeExp)))

  country          continent year lifeExp pop       gdpPercap totalcont_lifeExp
1 Japan            Asia      2007 82.603  127467972 31656.07  991.236
2 Hong Kong, China Asia      2007 82.208    6980412 39724.98  986.496
3 Japan            Asia      2002 82.000  127065841 28604.59  984.000
4 Iceland          Europe    2007 81.757     301931 36180.79  981.084
5 Switzerland      Europe    2007 81.701    7554661 37506.42  980.412
6 Hong Kong, China Asia      2002 81.495    6762476 30209.02  977.940